

.u-section-1 {
  min-height: 651px;
}

.u-section-1 .u-slider-1 {
  min-height: 651px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 31px;
}

.u-section-1 .u-image-1 {
  background-image: url("../images/banner.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 638px;
  min-height: 366px;
  height: auto;
  margin: 65px auto 0 160px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-family: SVN-Athene;
  font-weight: bold;
  margin: 47px 40px 0 -18px;
}

.u-section-1 .u-text-2 {
  font-family: SVN-Athene;
  font-size: 1.125rem;
  margin: 79px 11px 0 29px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  font-family: SVN-Athene;
  margin: 0 auto 0 90px;
  padding: 11px 39px 13px;
}

.u-section-1 .u-image-2 {
  background-image: url("../images/banner.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-group-2 {
  width: 638px;
  min-height: 366px;
  height: auto;
  margin: 65px auto 0 151px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-family: SVN-Athene;
  font-weight: bold;
  margin: 47px 40px 0 -18px;
}

.u-section-1 .u-text-4 {
  font-family: SVN-Athene;
  font-size: 1.125rem;
  margin: 79px 11px 0 29px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  font-family: SVN-Athene;
  margin: 0 auto 0 90px;
  padding: 11px 39px 13px;
}

.u-section-1 .u-image-3 {
  background-image: url("../images/banner.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  width: 638px;
  min-height: 366px;
  height: auto;
  margin: 67px auto 0 161px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  font-family: SVN-Athene;
  font-weight: bold;
  margin: 47px 40px 0 -18px;
}

.u-section-1 .u-text-6 {
  font-family: SVN-Athene;
  font-size: 1.125rem;
  margin: 79px 11px 0 29px;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  font-family: SVN-Athene;
  margin: 0 auto 0 90px;
  padding: 11px 39px 13px;
}

.u-section-1 .u-carousel-control-1 {
  width: 15px;
  height: 15px;
  left: 0;
  position: absolute;
  right: auto;
  padding: 3px;
}

.u-section-1 .u-carousel-control-2 {
  width: 15px;
  height: 15px;
  left: auto;
  position: absolute;
  top: auto;
  right: 24px;
  bottom: 306px;
  padding: 3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    min-height: 659px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 42px;
    padding-bottom: 10px;
    padding-left: 41px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 42px;
    padding-bottom: 10px;
    padding-left: 41px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 42px;
    padding-bottom: 10px;
    padding-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-left: 82px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 65px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 62px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 82px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    min-height: 437px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-slider-1 {
    min-height: 1437px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 616px;
}

.u-section-2 .u-image-1 {
  width: 117px;
  height: 144px;
  margin: 0 -35px 0 auto;
}

.u-section-2 .u-text-1 {
  font-family: SVN-Athene;
  font-size: 3rem;
  margin: -72px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 54px;
  margin-bottom: 54px;
}

.u-section-2 .u-repeater-1 {
  min-height: 306px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 197px;
  height: 197px;
  background-image: url("../images/product-1.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-family: SVN-Athene;
  margin: 41px 22px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 197px;
  height: 197px;
  background-image: url("../images/product-2.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-family: SVN-Athene;
  margin: 41px 22px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 197px;
  height: 197px;
  background-image: url("../images/product-3.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-family: SVN-Athene;
  margin: 41px 22px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  width: 197px;
  height: 197px;
  background-image: url("../images/product-4.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-family: SVN-Athene;
  margin: 41px 22px 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-6 {
  width: 197px;
  height: 197px;
  background-image: url("../images/product-4.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-family: SVN-Athene;
  margin: 41px 22px 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-7 {
  width: 197px;
  height: 197px;
  background-image: url("../images/product-4.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-family: SVN-Athene;
  margin: 41px 22px 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 1px;
  width: 40px;
  height: 40px;
  top: 78px;
  padding: 10px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 84px;
  right: 0;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: -1px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 335px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 196px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 196px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
    width: 196px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
    width: 196px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
    width: 196px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
    width: 196px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 257px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-top: -14px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -58px;
    margin-left: 193px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 40px;
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -84px;
    margin-left: 122px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 54px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 30px;
  }
} .u-section-3 {
  background-image: url("../images/background2.png");
  background-position: 50% 50%;
  min-height: 966px;
}

.u-section-3 .u-image-1 {
  width: 221px;
  height: 423px;
  margin: -133px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-family: SVN-Athene;
  width: 360px;
  margin: -130px calc(((100% - 1520px) / 2) + 580px) 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.625rem;
  font-family: Roboto, sans-serif;
  margin: 80px calc(((100% - 1520px) / 2) + -11px) 0 calc(((100% - 1520px) / 2) + 1363px);
}

.u-section-3 .u-group-1 {
  width: 534px;
  min-height: 430px;
  height: auto;
  margin: 65px auto 60px calc(((100% - 1140px) / 2) + 81px);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 8px;
}

.u-section-3 .u-text-3 {
  font-family: SVN-Athene;
  font-size: 1.125rem;
  margin: 100px auto 0 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  font-family: SVN-Athene;
  margin: 0 auto 0 0;
  padding: 11px 39px 13px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 797px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 290px);
    margin-right: calc(((100% - 940px) / 2) + 290px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + -11px);
    margin-left: calc(((100% - 940px) / 2) + 1263px);
  }

  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 81px);
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: -72px;
    margin-right: calc(((100% - 940px) / 2) + 897px);
    margin-left: calc(((100% - 940px) / 2) + 248px);
  }

  .u-section-3 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 248px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 610px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 180px);
    margin-right: calc(((100% - 720px) / 2) + 180px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + -11px);
    margin-left: calc(((100% - 720px) / 2) + 1153px);
  }

  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 81px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 787px);
    margin-left: calc(((100% - 720px) / 2) + 138px);
  }

  .u-section-3 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2) + 138px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 458px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2) + 90px);
    margin-right: calc(((100% - 540px) / 2) + 90px);
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2) + -11px);
    margin-left: calc(((100% - 540px) / 2) + 1063px);
  }

  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 6px);
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2) + 697px);
    margin-left: calc(((100% - 540px) / 2) + 48px);
  }

  .u-section-3 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2) + 48px);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-size: auto 140%;
    min-height: 288px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + -11px);
    margin-left: calc(((100% - 340px) / 2) + 963px);
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 545px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-4 {
  background-image: none;
  min-height: 1178px;
}

.u-section-4 .u-list-1 {
  width: 1083px;
  margin: 185px auto 0;
}

.u-section-4 .u-repeater-1 {
  min-height: 386px;
  grid-template-columns: calc(20% - 4px) calc(20% - 4px) calc(20% - 4px) calc(20% - 4px) calc(20% - 4px);
  grid-gap: 5px 5px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 1px;
}

.u-section-4 .u-image-1 {
  height: 166px;
  width: 185px;
  margin: 12px auto 0;
}

.u-section-4 .u-text-1 {
  font-family: Merriweather, serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 18px 10px 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  margin: 15px 6px 0;
}

.u-section-4 .u-image-2 {
  background-image: url("../images/bannermuangay.png");
}

.u-section-4 .u-container-layout-2 {
  padding: 0 1px;
}

.u-section-4 .u-image-3 {
  height: 166px;
  width: 185px;
  margin: 12px auto 0;
}

.u-section-4 .u-text-3 {
  font-family: Merriweather, serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 18px 10px 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  margin: 15px 6px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 1px;
}

.u-section-4 .u-image-4 {
  height: 166px;
  width: 185px;
  margin: 12px auto 0;
}

.u-section-4 .u-text-5 {
  font-family: Merriweather, serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 18px 10px 0;
}

.u-section-4 .u-text-6 {
  font-size: 0.875rem;
  margin: 15px 6px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 1px;
}

.u-section-4 .u-image-5 {
  height: 166px;
  width: 185px;
  margin: 12px auto 0;
}

.u-section-4 .u-text-7 {
  font-family: Merriweather, serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 18px 10px 0;
}

.u-section-4 .u-text-8 {
  font-size: 0.875rem;
  margin: 15px 6px 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 1px;
}

.u-section-4 .u-image-6 {
  height: 166px;
  width: 185px;
  margin: 12px auto 0;
}

.u-section-4 .u-text-9 {
  font-family: Merriweather, serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 18px 10px 0;
}

.u-section-4 .u-text-10 {
  font-size: 0.875rem;
  margin: 15px 6px 0;
}

.u-section-4 .u-image-7 {
  height: 564px;
  width: 16%;
  margin: -572px auto 0 0;
}

.u-section-4 .u-text-11 {
  font-size: 3rem;
  font-family: SVN-Athene;
  width: 543px;
  margin: -509px auto 0;
}

.u-section-4 .u-image-8 {
  width: 22%;
  height: 362px;
  margin: 552px 0 0 auto;
}

.u-section-4 .u-group-1 {
  width: 1043px;
  min-height: 217px;
  height: auto;
  margin: -228px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 19px 30px;
}

.u-section-4 .u-text-12 {
  font-family: SVN-Athene;
  width: 280px;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-4 .u-form-1 {
  height: 48px;
  width: 971px;
  margin: 54px auto 0;
}

.u-section-4 .u-form-group-1 {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

.u-section-4 .u-label-1 {
  font-size: 1.5rem;
}

.u-section-4 .u-input-1 {
  height: 48px;
  font-family: SVN-Athene;
  font-size: 1.25rem;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-family: SVN-Athene;
  font-size: 1.5rem;
  font-weight: normal;
  padding: 2px 62px 3px 61px;
}

.u-section-4 .u-image-9 {
  width: 133px;
  height: 81px;
  margin: -149px auto 60px calc(((100% - 1520px) / 2) + 85px);
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 249px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-top: -526px;
    margin-left: calc(((100% - 940px) / 2) + 198px);
    margin-right: calc(((100% - 940px) / 2) + 198px);
  }

  .u-section-4 .u-image-8 {
    margin-top: 569px;
  }

  .u-section-4 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-4 .u-form-1 {
    width: 880px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-9 {
    margin-left: calc(((100% - 940px) / 2) + 85px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 625px;
    grid-template-columns: calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px);
  }

  .u-section-4 .u-image-7 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-11 {
    margin-top: -1439px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-8 {
    margin-top: 1482px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
    margin-top: -48px;
  }

  .u-section-4 .u-form-1 {
    width: 660px;
  }

  .u-section-4 .u-image-9 {
    margin-left: calc(((100% - 720px) / 2) + 85px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
    margin-top: 133px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
  }

  .u-section-4 .u-text-11 {
    font-size: 1rem;
    width: 540px;
    margin-top: -1687px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-8 {
    margin-top: 1782px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-4 .u-form-1 {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-9 {
    margin-top: -160px;
    margin-left: calc(((100% - 540px) / 2) + 85px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-11 {
    width: 340px;
    margin-top: -2221px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-image-8 {
    margin-top: 2316px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-form-1 {
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-9 {
    margin-left: calc(((100% - 340px) / 2) + 85px);
  }
}@font-face {
  font-family: 'SVN-Athene';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SVN-Athene.otf);
}