 .u-section-1 {
  background-image: none;
  min-height: 2211px;
}

.u-section-1 .u-image-1 {
  width: 138px;
  height: 753px;
  margin: 80px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: SVN-Athene;
  font-size: 3rem;
  margin: -688px auto 0 calc(((100% - 1920px) / 2) + 853px);
}

.u-section-1 .u-image-2 {
  width: 79px;
  height: 400px;
  margin: -35px auto 0 0;
}

.u-section-1 .u-list-1 {
  width: 999px;
  margin: -276px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 1754px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 295px;
  width: 295px;
  margin: 19px 0 0 18px;
}

.u-section-1 .u-text-2 {
  font-family: SVN-Athene;
  font-size: 1.125rem;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-3 {
  font-family: SVN-Athene;
  font-size: 0.875rem;
  margin: 7px 19px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 295px;
  width: 295px;
  margin: 19px 0 0 18px;
}

.u-section-1 .u-text-4 {
  font-family: SVN-Athene;
  font-size: 1.125rem;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-5 {
  font-family: SVN-Athene;
  font-size: 0.875rem;
  margin: 7px 19px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 295px;
  width: 295px;
  margin: 19px 0 0 18px;
}

.u-section-1 .u-text-6 {
  font-family: SVN-Athene;
  font-size: 1.125rem;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-7 {
  font-family: SVN-Athene;
  font-size: 0.875rem;
  margin: 7px 19px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 295px;
  width: 295px;
  margin: 19px 0 0 18px;
}

.u-section-1 .u-text-8 {
  font-family: SVN-Athene;
  font-size: 1.125rem;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-9 {
  font-family: SVN-Athene;
  font-size: 0.875rem;
  margin: 7px 19px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  height: 295px;
  width: 295px;
  margin: 19px 0 0 18px;
}

.u-section-1 .u-text-10 {
  font-family: SVN-Athene;
  font-size: 1.125rem;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-11 {
  font-family: SVN-Athene;
  font-size: 0.875rem;
  margin: 7px 19px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  height: 295px;
  width: 295px;
  margin: 19px 0 0 18px;
}

.u-section-1 .u-text-12 {
  font-family: SVN-Athene;
  font-size: 1.125rem;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-13 {
  font-family: SVN-Athene;
  font-size: 0.875rem;
  margin: 7px 19px 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  height: 295px;
  width: 295px;
  margin: 19px 0 0 18px;
}

.u-section-1 .u-text-14 {
  font-family: SVN-Athene;
  font-size: 1.125rem;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-15 {
  font-family: SVN-Athene;
  font-size: 0.875rem;
  margin: 7px 19px 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-10 {
  height: 295px;
  width: 295px;
  margin: 19px 0 0 18px;
}

.u-section-1 .u-text-16 {
  font-family: SVN-Athene;
  font-size: 1.125rem;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-17 {
  font-family: SVN-Athene;
  font-size: 0.875rem;
  margin: 7px 19px 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-11 {
  height: 295px;
  width: 295px;
  margin: 19px 0 0 18px;
}

.u-section-1 .u-text-18 {
  font-family: SVN-Athene;
  font-size: 1.125rem;
  margin: 20px 13px 0;
}

.u-section-1 .u-text-19 {
  font-family: SVN-Athene;
  font-size: 0.875rem;
  margin: 7px 19px 0;
}

.u-section-1 .u-image-12 {
  width: 170px;
  height: 851px;
  margin: -1517px auto 0 0;
}

.u-section-1 .u-image-13 {
  width: 192px;
  height: 708px;
  margin: -753px 0 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 2276px;
  }

  .u-section-1 .u-image-1 {
    height: 750px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -685px;
    margin-left: calc(((100% - 940px) / 2) + 703px);
  }

  .u-section-1 .u-image-2 {
    height: 399px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: -275px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1649px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-13 {
    height: 705px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 3731px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 538px);
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 3183px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 6906px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2) + 404px);
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 8686px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-18 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 254px);
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 5499px;
  }
}@font-face {
  font-family: 'SVN-Athene';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SVN-Athene.otf);
}